<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javaexception.mapper.AuthUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javaexception.entity.AuthUser">
        <id column="id" property="id" />
        <result column="auth_name" property="authName" />
        <result column="identity" property="identity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, auth_name, identity
    </sql>
    <select id="dynamicForeach2Test" resultType="Blog">
        select role.id, role.role_name,role.identity from user,user_role,role where user_role.role_id=role.id and user_role.user_id=user.id and user_id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
